<html>
<head>
<title>Basic Guide | e-School</title>
<style>
footer
{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 7px;

  }
body{
margin: 25px 75px;}
body{
  background-color: antiquewhite;
/* background-image: url("form.jpg"); */
}
#Goals{
 color: blue;
}
p{
	text-align:justify;
    
	}
.note{
	font-weight: bold;
	}
dt{
	font-weight: bold;
	margin:10px;
	}
dd{
	font-style: oblique;
	
	}
pre{
padding: 6px 10px;
background-color: gray;
border: 1px solid black;
}
.button {
	display:inline-block;
    height: 30px auto;
    width: 150px auto;
	margin: 0 px auto;
    color:blue;
    text-align: center;
    border: solid #427AA8 1px;
    border-radius: 5px;
	padding: 10px;
}

.button:hover {
    background: red;
}​

</style>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  .jumbotron {
    background-color: #f4511e; /* Orange */
    color: #ffffff;
}
</style>

</head>
<body>
<a href="/AfterStuLogin" class="button"><img src="../assets/home-512.png" style="width:20; height:20; margin-top:6px;"></a>
<!--
<a href="mainpage.html" class="button"><img src="home-512.png" style="width:20; height:20; margin-top:6px;"></a>
<a href="#END" class="button" style="float:right;">Go to End</a><br>
<a href="suggestions.html" class="button" style="float:right; margin-top:2px;">Suggestions?</a>
-->
<div class="jumbotron text-center">
  <h1>e-School</h1>
  <p style="text-align: center;font-size: x-large;">The basic learning begins.</p>
</div>
<div style="margin-left: 1.5%; margin-right: 2%; 
font-size: large; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: justify;
">
<h2>Network Theory - Overview</h2>

<p><b>Network theory</b> is the study of solving the problems of electric 
circuits or electric networks. In this introductory chapter,
let us first discuss the basic terminology of
electric circuits and the types of network elements.</p>

<h3>Basic Terminology</h3>
<p>In Network Theory, we will frequently come across the following terms −</p>
<ul class="list">
  <li>Electric Circuit</li>
  <li>Electric Network</li>
  <li>Current</li>
  <li>Voltage</li>
  <li>Power</li>
</ul>

<p>So, it is imperative that we gather some basic knowledge on these terms before proceeding further. Let’s start with Electric Circuit.</p>
<h3>Electric Circuit</h3>
<p>An electric circuit contains a closed path for providing a flow of electrons from a voltage source or current source. The elements present in an electric circuit will be in <b>series connection, parallel connection</b>, or in any combination of series and parallel connections.</p>
<h3>Electric Network</h3>
<p>An electric network need not contain a closed path for providing a flow of electrons from a voltage source or current source. Hence, we can conclude that "all electric circuits are electric networks" but the converse need not be true.</p>
<h3>Current</h3>
<p>The current <b>"I"</b> flowing through a conductor is nothing but the time rate of flow of charge. Mathematically, it can be written as</p>
<img src="../assets/equ1.JPG" alt="equation">
<p>Where,</p>
<ul class="list">
<li><p><b>Q</b> is the charge and its unit is Coloumb.</p></li>
<li><p><b>t</b> is the time and its unit is second.</p></li>
</ul>
<p>As an analogy, electric current can be thought of as the flow of water through a pipe. Current is measured in terms of <b>Ampere</b>.</p>
<p>In general, <b>Electron current</b> flows from negative terminal of source to positive terminal, whereas, <b>Conventional current</b> flows from positive terminal of source to negative terminal.</p>
<p><b>Electron current</b> is obtained due to the movement of free electrons, whereas, <b>Conventional current</b> is obtained due to the movement of free positive charges. Both of these are called as <b>electric current</b>.</p>
<h3>Voltage</h3>
<p>The voltage <b>"V"</b> is nothing but an electromotive force that causes the charge (electrons) to flow. Mathematically, it can be written as</p>
<img src="../assets/equ2.JPG" alt="equation">
<p>Where,</p>
<ul class="list">
<li><p><b>W</b> is the potential energy and its unit is Joule.</p></li>
<li><p><b>Q</b> is the charge and its unit is Coloumb.</p></li>
</ul>
<p>As an analogy, Voltage can be thought of as the pressure of water that causes the water to flow through a pipe. It is measured in terms of <b>Volt</b>.</p>
<h3>Power</h3>
<p>The power <b>"P"</b> is nothing but the time rate of flow of electrical energy. Mathematically, it can be written as</p>
<img src="../assets/equ3.JPG" alt="equation">
<p>Where,</p>
<ul class="list">
<li><p><b>W</b> is the electrical energy and it is measured in terms of <b>Joule</b>.</p></li>
<li><p><b>t</b> is the time and it is measured in seconds.</p></li>
</ul>
<p>We can re-write the above equation a</p>
<img src="../assets/equ4.JPG" alt="equation4">
<p>Therefore, <b>power</b> is nothing but the <b>product</b> of voltage <b>V</b> and current <b>I</b>. Its unit is <b>Watt</b>.</p>
<div>
  <center>
    <iframe width="500" height="300" src="https://www.youtube.com/embed/NEhH6C7Fzw4?list=PLBlnK6fEyqRgLR-hMp7wem-bdVN1iEhsh" frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </center>
  
</div>
<h4 style="text-align: center;"><b>Introduction to network theory</b></h4>
<h2>Types of Network Elements</h2>
<p>We can classify the Network elements into various types based on some parameters. Following are the types of Network elements &minus;</p>
<ul class="list">
<li><p>Active Elements and Passive Elements</p></li>
<li><p>Linear Elements and Non-linear Elements</p></li>
<li><p>Bilateral Elements and Unilateral Elements</p></li>
</ul>
<h3>Active Elements and Passive Elements</h3>
<p>We can classify the Network elements into either <b>active</b> or <b>passive</b> based on the ability of delivering power.</p>
<ul class="list">
<li><p><b>Active Elements</b> deliver power to other elements, which are present in an electric circuit. Sometimes, they may absorb the power like passive elements. That means active elements have the capability of both delivering and absorbing power. <b>Examples</b>: Voltage sources and current sources.</p></li>
<li><p><b>Passive Elements</b> can’t deliver power (energy) to other elements, however they can absorb power. That means these elements either dissipate power in the form of heat or store energy in the form of either magnetic field or electric field. <b>Examples</b>: Resistors, Inductors, and capacitors.</p></li>
</ul>
<h3>Linear Elements and Non-Linear Elements</h3>
<p>We can classify the network elements as <b>linear</b> or <b>non-linear</b> based on their characteristic to obey the property of linearity.</p>
<ul class="list">
<li><p><b>Linear Elements</b> are the elements that show a linear relationship between voltage and current. <b>Examples</b>: Resistors, Inductors, and capacitors.</p></li>
<li><p><b>Non-Linear Elements</b> are those that do not show a linear relation between voltage and current. <b>Examples</b>: Voltage sources and current sources.</p></li>
</ul>
<h3>Bilateral Elements and Unilateral Elements</h3>
<p>Network elements can also be classified as either <b>bilateral</b> or <b>unilateral</b> based on the direction of current flows through the network elements.</p>
<p><b>Bilateral Elements</b> are the elements that allow the current in both directions and offer the same impedance in either direction of current flow. <b>Examples</b>: Resistors, Inductors and capacitors.</p>
<p>The concept of Bilateral elements is illustrated in the following figures.</p>
<img src="https://www.tutorialspoint.com/network_theory/images/bilateral_elements.jpg" alt="Bilateral Elements" />
<p>In the above figure, the current (I) is flowing from terminals A to B through a passive element having impedance of <i>Z</i> &ohm;. It is the ratio of voltage (V) across that element between terminals A &amp; B and current (I).</p>
<img src="https://www.tutorialspoint.com/network_theory/images/bilateral.jpg" alt="Bilateral" />
<p>In the above figure, the current (I) is flowing from terminals B to A through a passive element having impedance of <i>Z</i> &ohm;. That means the current (–I) is flowing from terminals A to B. In this case too, we will get the same impedance value, since both the current and voltage having negative signs with respect to terminals A &amp; B.</p>
<p><b>Unilateral Elements</b> are those that allow the current in only one direction. Hence, they offer different impedances in both directions.</p>
</div>
<footer>
  <p style="text-align: center; padding-top: 1%;">Copyright &copy; 2021, e-School. </p>
</footer>
</body>
</html>